#map {
  width: 100%;
  height: 450px;
}

.my-font {
  font-family: none;
}

#title {
  letter-spacing: 1.3px;
}

#creator {
  font-size: 18px;
}

/* .photo {
  width: 262px;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
} */

.portrait {
  width: 48%;
}

.landscape {
  width: 100%;
}

.landscape-modified {
  width: 90%;
}

#end {
  color: #ffffff;
}